<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue3.0.global.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span>
                <input type="text" v-model='firstName'>
            </span>
        </div>
        <div>
            <span>姓：</span>
            <span>
                <input type="text" v-model='lastName'>
            </span>
        </div>
        <div>{{fullName}}</div>
    </div>

    <script type="text/javascript">
        let vm = Vue.createApp({
            data() {
                return {
                    firstName: 'Jim',
                    lastName: 'Green',
                    // fullName: 'Jim Green'
                }
            },
            //watch  属性 定义 和 data 已经 methods 平级 
            watch: {
                //   注意：  这里firstName  对应着data 中的 firstName 
                //   当 firstName 值 改变的时候  会自动触发 watch
                firstName: function (val) {
                    this.fullName = val + ' ' + this.lastName;
                    // console.log(1);
                },
                //   注意：  这里 lastName 对应着data 中的 lastName 
                lastName: function (val) {
                    this.fullName = this.firstName + ' ' + val;
                }
            }
        })
        vm.mount("#app")
    </script>
</body>

</html>