# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\02 OneDrive\OneDrive\01 My Code\01 CZXY\01 My Code\11 学习笔记\Study-Note\java\java数据结构\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
